body {
    font-family: system-ui;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center
}

main {
    background-color: #192a56;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f5f6fa;
}

h1 {
    font-size: 46px;
    margin-top: 0px;
    margin-bottom: 20px;
}

main p {
    font-size: 16px;
    margin: 0
}
section {
    background-color: white;
}
h3 {
    font-size: 30px;
    margin: 20px
}

#example {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

#form {
    display: inline-table;
}

#form #url,
#form #champion,
#form button {
    font-family: system-ui;
    font-size: 14px;
    padding: 5px 10px;
}


#url, #champion {
    width: 320px;
    border: 1px solid gray;
}

#url {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0px solid gray
}

button {
    border: 1px solid #273c75;
    background-color: #273c75;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

#json {
    width: 1024px;
    height: 540px;
    margin: 20px 0;
    border-radius: 3px;
    resize: none;
}
footer {
    background-color: #263238;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: white;
}