footer
  .container
    p Last League of Legends Patch: 10.5
    p
      a(href="https://github.com/LuisLiraC/api-lol", target="_blank") GitHub Repository
    p Created by&nbsp;
      a(href="https://luislira.herokuapp.com", target="_blank") Luis Lira
    p
      a(href="https://twitter.com/Luis_LiraC", target="_blank") Twitter